.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
  text-align: right;
}

.cd-top--fade-out {
  opacity: .5;
}

.scroller {
  text-align: center;
  display: block;
  margin: auto;
  margin-left: auto;
  margin-right: auto;

  /* width: 50%; */
}

.product {
  /* width: 100px;
  height: 300px; */
  width: 7vw;
  height: 25vw;
  object-fit: cover;
  object-position: 0% 0;
  transition: 500ms;
}

.product:hover {
  /* width: 300px;
  height: 300px; */
  width: 25vw;
  height: 25vw;
  overflow: hidden;
  transition: 500ms;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}


/* Extra Things */
body {
  background: #eee;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
}

h3 i {
  color: #444;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
}

#myBtn:hover {
  background-color: #555;
}

/* For chart design */
.burgcontainer {
  /* height: 600px;
  width: 600px; */
  height: 20vw;
  width: 40vw;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 5px;
  /* text-align: center;
  align-content: center;
  align-items: center; */
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  top: 32vw;
  z-index: 2;
}

#lineMonth {
  height: 600px;
  width: 700px;

}

#sumrept {
  text-align: center;
}

table {
  align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  margin-top: 9vw;
}

th,
td,
p,
input {
  font: 14px Verdana;
}

table,
th,
td {
  border: solid 2px black;
  border-collapse: collapse;
  padding: 3px 5px;
  text-align: center;
  margin-top: 9vw;
}

th {
  font-weight: bold;
}

a,
a:visited {
  color: #0A9297;
}

.cont {
  height: 500px;
  width: 400px;
  /* margin: 1.6rem auto; */
  max-width: 42rem;
  text-align: left;
  margin-left: 10%
}

.demo-picked {
  font-size: 12px;
  text-align: center;
}

.demo-picked span {
  font-weight: bold;
}

#timeSales {
  display: inline-block;
  position: relative;
  margin-top: -400px;
  margin-left: 450px;
  height: 500px;
}

#button1,
#button2 {
  padding: 3px;
}

.sumchart {
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 5px;
}

.rightdiv {
  margin-top: 12vw;
  align-content: center;
}

.title {
  font-family: 'Open Sans';
  font-size: 3vw;
  text-align: center;
  font-weight: bold;
}

#BTNONE {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 5vw; */
}

.genreportbtn {
  width: 25vw;
  height: 4vw;
  border-radius: 30px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px; */
  background-color: #26B9C8;
  color: white;
  border-color: transparent;
  font-family: 'Open Sans';
  font-size: 0.9vw;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  margin-right: 5vw;
}

.timereportbtn {
  width: 25vw;
  height: 4vw;
  border-radius: 30px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px; */
  background-color: #26B9C8;
  color: white;
  border-color: transparent;
  font-family: 'Open Sans';
  font-size: 0.9vw;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  /* margin-right: 5vw; */
}

.genreportbtn:hover,
.timereportbtn:hover {
  box-shadow: 0 0 4px rgb(156, 156, 156);
  transition: 350ms;
}

#Prod {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.6vw;
}

.piechartbtn,
.barchartbtn,
.monthlybtn,
.weeklybtn,
.spefdatebtn,
.rawdatabtn {
  width: 15vw;
  height: 3vw;
  border-radius: 30px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px; */
  background-color: rgb(45, 204, 221);
  color: white;
  border-color: transparent;
  font-family: 'Open Sans';
  font-size: 0.8vw;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  margin: 2vw;
}

.piechartbtn:hover,
.barchartbtn:hover,
.monthlybtn:hover,
.weeklybtn:hover,
.spefdatebtn:hover,
.rawdatabtn:hover,
.showchartbtn:hover {
  box-shadow: 0 0 4px rgb(156, 156, 156);
  transition: 350ms;
}

.cont {
  text-align: center;
}

.showchartbtn {
  width: 10vw;
  height: 2.5vw;
  border-radius: 30px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px; */
  background-color: rgb(46, 223, 243);
  color: white;
  border-color: transparent;
  font-family: 'Open Sans';
  font-size: 0.7vw;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  margin: 1vw;
}

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: white;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #26B9C8;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0;
  overflow: hidden;
  /* display: flex;
    flex-direction: row; */
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center;*/
  z-index: 6;
  box-shadow: 0 0 550px rgba(134, 134, 134, 0.274);
}

.topright {
  position: relative;
  top: 28px;
  left: 440px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navul {
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  width: 60%;
  position: relative;
}

.navlink {
  font-family: 'Open Sans';
  color: white;
  font-size: 2vw;
  padding-right: 90px;
  display: inline-block;
  text-align: center;
}

.navlink:hover {
  color: #BDEDF2;
  transition: 500ms;
}

.main-container,
.nav {
  top: 10vw;
  /* margin-top: 100px; */
  /* left: 20%; */
  position: relative;
  /* margin: 0px auto; */
}

.entry-title {
  font-size: 3vw;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: bold;
}

.move {
  display: inline-block;
  align-content: left;

}

#timeChart{
  display: inline-block;
  position: relative;
  margin-top: -350px;
  margin-left: 450px;
  height: 500px;
}