.elementor-1939 .elementor-element.elementor-element-dbf1181 {
    text-align: center;
}

.elementor-1939 .elementor-element.elementor-element-dbf1181 .elementor-heading-title {
    font-family: "Aclonica", Sans-serif;
}

.elementor-1939 .elementor-element.elementor-element-3c3b533 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-c0818aa {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-74a66cb {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-c605707 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-d34ded9 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-1916cfa .elementor-progress-bar {
    color: #23a455;
}

.elementor-1939 .elementor-element.elementor-element-7429904 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-087b2b0 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #23a455;
    width: 100%;
}

.elementor-1939 .elementor-element.elementor-element-087b2b0 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-1939 .elementor-element.elementor-element-9eb4e0c {
    text-align: center;
}

.elementor-1939 .elementor-element.elementor-element-9eb4e0c .elementor-heading-title {
    font-family: "Aclonica", Sans-serif;
}

.elementor-1939 .elementor-element.elementor-element-bc48ede {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-2452e10 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-c257762 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-c398f60 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-ee77e2e {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-83f39f9 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-b9ee2c3 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-47603b1 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #23a455;
    width: 100%;
}

.elementor-1939 .elementor-element.elementor-element-47603b1 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-1939 .elementor-element.elementor-element-3d20e8a {
    text-align: center;
}

.elementor-1939 .elementor-element.elementor-element-3d20e8a .elementor-heading-title {
    font-family: "Aclonica", Sans-serif;
}

.elementor-1939 .elementor-element.elementor-element-4609ce5 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-0a0cedd {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-52436c5 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-f597f28 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-d547ca0 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-d12e9b3 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-95d6fda {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-9eb8a45 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #23a455;
    width: 100%;
}

.elementor-1939 .elementor-element.elementor-element-9eb8a45 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-1939 .elementor-element.elementor-element-b2b0a7e {
    text-align: center;
}

.elementor-1939 .elementor-element.elementor-element-b2b0a7e .elementor-heading-title {
    font-family: "Aclonica", Sans-serif;
}

.elementor-1939 .elementor-element.elementor-element-1e33db4 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-904a60d {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-4f1860a {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-80c3e64 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-68aa765 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-1c5c4fe {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-1a81267 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-37fb5e6 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-d8e419d {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-5be1912 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-016dc85 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-bce9530 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-3d63964 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-f728944 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-467f7a4 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-8450fbe {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-72dccf1 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-b5c2f2c {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-872f222 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-d04edf2 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-fc38913 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-bdb7e93 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-38f829b {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-dcdd0c7 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #23a455;
    width: 100%;
}

.elementor-1939 .elementor-element.elementor-element-dcdd0c7 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-1939 .elementor-element.elementor-element-c19607b {
    text-align: center;
}

.elementor-1939 .elementor-element.elementor-element-c19607b .elementor-heading-title {
    font-family: "Aclonica", Sans-serif;
}

.elementor-1939 .elementor-element.elementor-element-b39d3d8 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-976e7ab {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-a816e6a {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-1cb940e {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-d0e3cf4 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-82c7110 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-acf8644 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-aaedb6e {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-162bfbb {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-589c645 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-db83b82 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-3b87904 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-3077093 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #23a455;
    width: 100%;
}

.elementor-1939 .elementor-element.elementor-element-3077093 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-1939 .elementor-element.elementor-element-c7c32a4 {
    text-align: center;
}

.elementor-1939 .elementor-element.elementor-element-c7c32a4 .elementor-heading-title {
    font-family: "Aclonica", Sans-serif;
}

.elementor-1939 .elementor-element.elementor-element-c33fcb7 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-b24d95f {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-98e01c7 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-c6a2af2 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-c625f86 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-d14803e {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-6a44a3e .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #23a455;
    width: 100%;
}

.elementor-1939 .elementor-element.elementor-element-6a44a3e .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-1939 .elementor-element.elementor-element-e3384e5 {
    text-align: center;
}

.elementor-1939 .elementor-element.elementor-element-e3384e5 .elementor-heading-title {
    font-family: "Aclonica", Sans-serif;
}

.elementor-1939 .elementor-element.elementor-element-fc2c39b {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-9844f48 .elementor-progress-bar {
    color: #23a455;
}

.elementor-1939 .elementor-element.elementor-element-36018f1 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-02ec669 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-762f75d {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-76863b3 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-5f7e503 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-e820752 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-06f1bb3 .elementor-progress-bar {
    color: #23a455;
}

.elementor-1939 .elementor-element.elementor-element-ec0cb32 {
    padding: 0px 0px 0px 0px;
}

.elementor-1939 .elementor-element.elementor-element-01b9fef {
    padding: 0px 0px 0px 0px;
}