.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {
    color: #f12184;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-widget-image .widget-image-caption {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-widget-text-editor {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: #f12184;
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: #f12184;
    border-color: #f12184;
}

.elementor-widget-button a.elementor-button,
.elementor-widget-button .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    background-color: #61ce70;
}

.elementor-widget-divider .elementor-divider-separator {
    border-top-color: #7a7a7a;
}


.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-description {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}



.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-widget-star-rating .elementor-star-rating__title {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-widget-image-gallery .gallery-item .gallery-caption {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
}

.elementor-widget-image-carousel .elementor-image-carousel-caption {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: #7a7a7a;
}


.elementor-widget-icon-list .elementor-icon-list-text {
    color: #54595f;
}

.elementor-widget-icon-list .elementor-icon-list-item {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}



.elementor-widget-counter .elementor-counter-title {
    color: #54595f;
    font-family: "Roboto Slab", Sans-serif;
    font-weight: 400;
}
/* Default color */
 .elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {
    background-color: lightblue;;
} 

.elementor-widget-progress .elementor-title {
    color: #f12184;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}


.elementor-widget-accordion .elementor-accordion .elementor-tab-content {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}


.elementor-widget-toggle .elementor-toggle .elementor-tab-content {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-widget-alert .elementor-alert-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-widget-alert .elementor-alert-description {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}