html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #26B9C8;
}

@font-face {
    font-family: 'Open Sans';
    src: url("fonts/OpenSans-Regular.ttf");
}

.login_portion {
    margin: 0px auto;
    height: 100%;
    background-color: #ffffff; 
    width: 50%;
     padding-right: 30px;
     padding-left: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
     box-shadow: 12px 0 8px -4px rgb(33, 153, 167),
     -12px 0 8px -4px rgb(33, 153, 167);
     /* box-shadow: 0 9px 0px 0px white,
     0 -9px 0px 0px white,
     12px 0 15px -4px rgba(65, 108, 161, 0.8),
     -12px 0 15px -4px rgba(31, 73, 125, 0.8); */
}

p {
    text-align: center;
    color: #26B9C8;
    font-family: 'Open Sans';
    font-size: 50px;
}

.username_input, .password_input {
     /* padding: 8px 8px 8px 8px;
     margin: 8px 0px;
     box-sizing: border-box; */
     background-color: #e6e6e6;
     border: 1px solid #e6e6e6;
     border-radius: 50px;
     height: 55px;
     padding: 5px 5px;
     font-size: 18px;
     top: 15px;
     width: 60%;
     font-family: 'Open Sans';
     color: #26B9C8;
     align-content: center;
     padding-left: 20px;
     letter-spacing: 2px;
}

.username_input:hover, .password_input:hover {
    border: 1px solid #26B9C8;
    box-shadow: 0 0 5px rgb(218, 218, 218);
    transition: 500ms;

}

.login_btn {
     width: 15vw;
    height: 4vw;
    border-radius: 30px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; */
    background-color: #26B9C8;
    color: white;
    border-color: transparent;
    font-family: 'Open Sans';
    font-size: 0.9vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
}

.login_btn:hover {
    box-shadow: 0 0 10px rgb(156, 156, 156);
    transition: 350ms;
}
/* label {
    font-family: 'Open Sans';
    font-size: 24px;
    left: 20px;
} */


::placeholder {
    color: #26B9C8;
}

.warn {
    color: rgb(255, 89, 89);
    font-family: 'Open Sans';
    font-size: 1vw;
    position: relative;
    height: 3vw;
    width: 60%;
    text-align: center;
    font-weight: bold;
}
